
<div class="banner-slider owl-carousel owl-theme">
    <div>
    <img class="banner-image" src="{{ section.settings.bannerimages | image_url}}"/>
    </div>
    <div>
    <img class="banner-image" src="{{ section.settings.bannerimages | image_url}}"/>
    </div>
</div>
<div class="brand-banner owl-carousel owl-theme">
  <div>
    {% for block in section.blocks %}
      <div>
        <img class="" src="{{ block.settings.brand-images | image_url  }}"/>
      </div>
    {%endfor%}
  </div>
</div>
<style>
  .banner-image{
    width:100%;
  }
</style>
{% schema %}
  {
    "name": "banner-slider",
    "settings": [
          {
      "type": "image_picker",
      "id": "bannerimages",
      "label": "bannaer-image-1"
    }
    ],
    "blocks": [
    {
      "type": "text",
      "name": "payment icon",
     "settings": [
       {
      "type": "image_picker",
      "id": "brand-images",
      "label": "brand-images"
    }
     ]
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}