
<div class="banner-slider owl-carousel owl-theme">
    <div>
    <img class="banner-image" src="{{ section.settings.bannerimages | image_url}}"/>
    </div>
    <div>
    <img class="banner-image" src="{{ section.settings.bannerimages | image_url}}"/>
    </div>
</div>
<!--  <div>   
    <div class="brand-banner owl-carousel owl-theme">
      <div>
        {% for block in section.blocks %}
          <div>
            <img class="" src="{{ block.settings.brand-images | image_url  }}"/>
          </div>
        {%endfor%}
      </div>
    </div>
</div> -->
<div class="three">
         <div class="brand-slider container owl-carousel owl-theme" >
       {%- for block in section.blocks -%}
      <div class="slider">
        <div class="">
        <img class="brand-images" src="{{ block.settings.Rectangle444 | image_url  }}">
        </div>
      </div>
      {% endfor %}
    </div>
</div>
<style>
  .banner-image{
    width:100%;
  }
  .brand-slider{
    width:33.33%
  }
  .brand-slider.owl-carousel .owl-stage-outer{
    margin-left:10px;
    margin-right:10px;
    
  }
    .brand-slider.owl-carousel .owl-stage-outer{
      padding-right:7px;
    }
  .brand-slider.owl-theme .owl-nav.disabled+.owl-dots{
    display:none;
  }
</style>
{% schema %}
  {
    "name": "banner-slider",
    "settings": [
          {
      "type": "image_picker",
      "id": "bannerimages",
      "label": "bannaer-image-1"
    }
    ],
        "blocks": [
  {
    "type": "text",
    "name": "PRODUCT",
   "settings": [
     {
          "type": "image_picker",
          "id": "Rectangle444",
          "label": "Rectangle444-img"
          }
   ]
  }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}