{%- assign blog = blogs[section.settings.blog] -%}
<h1>{{ section.settings.title | escape }} hii</h1>


{% schema %}
  {
    "name": "Section name",
    "settings": [
       {
      "type": "text",
      "id": "title",
      "label": "Heading" 
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}