<div class="blog-demo-main">
  <h2 class="blog-title"> {{ section.settings.title-blog }}</h2>
  <div class="view-botton">
      <a class="viewall-button" href="/blogs/news">View All</a>
    </div>
  <div class="blog-parent">
    
        {%- for block in section.blocks -%}
    <div class="blog-img-content">
        {% assign blo = block.settings.blog %}
        {% for article in blogs[blo].articles %}
        {{- article.image | image_url: width: 361 | image_tag }}<br/>
        <p class="demo-blog-title">{{- article.title -}}</p><br/>
      <a href="/blogs/news/indulge-in-the-bubbly-goodness-of-non-alcoholic-sparkling-wine" tabindex="0">Read more</a>
        {% endfor %}
    </div>
    {% endfor %}
  </div> 
</div>
<style>
  .viewall-button{
    background: linear-gradient(to bottom,#ffee00 0,#ffb800 100%);
    font-size: 18px;
    font-family: Proxima Nova Rg;
    border: none;
    color: #000;
    text-transform: capitalize;
    padding: 10px 20px;
    line-height: 34px;
    height: auto;
    border-radius: 3px;
    width:6%;
  }
  .blog-demo-main{
    max-width: 1211px;
    margin: auto;
  }
  .blog-img-content{
    width:33.33%;
    text-align: center;
    box-shadow: 1px 3px 4px #ccc;
    border-radius: 10px;
  }
  .blog-parent{
    display:flex;
    justify-content: space-between;
  }
  .view-botton{
    margin-bottom:40px;
    text-align: end;
  }
  .blog-title{
    text-align: center;
    color: #232323;
    font-size: 50px;
    font-family: Proxima Nova Rg;
    letter-spacing: .05em;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 15px;
  }
  .demo-blog-title{
    font-size: 18px;
    font-family: Proxima Nova Rg;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    padding-bottom:20px;
    margin-bottom:0;
  }
</style>
{% schema %}
  {
    "name": "blogs",
    "settings": [
     
      {
      "id": "title-blog",
      "type": "text",
      "label": "Blog-text"
    }
    ],
          "blocks": [
  {
    "type": "text",
    "name": " Add menu",
   "settings": [
        {
      "type": "blog",
      "id": "blog",
      "label": "Add Blog Category"
    }
   ]
  }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}