<div class="blog-demo-main">
  <h2 style="text-align:center;">{{ section.settings.title-blog }}</h2>
  <div class="blog-parent">
    <div class="viewall-button">
      <a href="/blogs/news">View All</a>
    </div>
    <div>
        {% assign blo = section.settings.blog %}
        {% for article in blogs[blo].articles %}
        {{- article.title -}}<br/>
        {{- article.image | image_url: width: 400 | image_tag }}<br/>
        {% endfor %}
    </div>
  </div> 
</div>

{% schema %}
  {
    "name": "blogs",
    "settings": [
     {
      "id": "blog",
      "type": "blog",
      "label": "Blog"
    },
      {
      "id": "title-blog",
      "type": "text",
      "label": "Blog-text"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}