<div class="blog-demo-main">
  <h2 style="text-align:center;">{{ section.settings.title-blog }}</h2>
  <div class="view-botton">
      <a class="viewall-button" href="/blogs/news">View All</a>
    </div>
  <div class="blog-parent">
    
        {%- for block in section.blocks -%}
    <div class="blog-img-content">
        {% assign blo = block.settings.blog %}
        {% for article in blogs[blo].articles %}
        {{- article.title -}}<br/>
        {{- article.image | image_url: width: 350 | image_tag }}<br/>
        {% endfor %}
    </div>
    {% endfor %}
  </div> 
</div>
<style>
  .viewall-button{
    background: linear-gradient(to bottom,#ffee00 0,#ffb800 100%);
    font-size: 18px;
    font-family: Proxima Nova Rg;
    border: none;
    color: #000;
    text-transform: capitalize;
    padding: 10px 20px;
    line-height: 34px;
    height: auto;
    border-radius: 3px;
    width:6%;
  }
  .blog-demo-main{
    max-width: 1224px;
    margin: auto;
  }
  .blog-img-content{
    width:33.33%;
    text-align: center;
  }
  .blog-parent{
    display:flex;
  }
  .view-botton{
    margin-bottom:40px;
  }
</style>
{% schema %}
  {
    "name": "blogs",
    "settings": [
     
      {
      "id": "title-blog",
      "type": "text",
      "label": "Blog-text"
    }
    ],
          "blocks": [
  {
    "type": "text",
    "name": " Add menu",
   "settings": [
        {
      "type": "blog",
      "id": "blog",
      "label": "Add Blog Category"
    }
   ]
  }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}