{%- assign blog = blogs[section.settings.blog] -%}
<h1>{{ section.settings.title | escape }} </h1>
  {%- if article.image -%}
            {{ article | img_url: '150x150', scale: 2 | img_tag: '' }}
          {%- endif -%}
          <h2>{{ article.title }}</h2>

 {% for article in blogs[blog].articles %}
  {{- article.title | link_to: article.url }}
{% endfor %}
{% schema %}
  {
    "name": "Section name",
    "settings": [
       {
      "type": "text",
      "id": "title",
      "label": "Heading" 
    },
     {
      "id": "blog",
      "type": "blog",
      "label": "Blog"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}