<div class="header-1main">
  <div class="footer-parant">
    <div>
      <img class="footer1logo" src="{{ section.settings.footer1logo | image_url }} "/>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}