<div class="header-1main">
  <div class="footer-parant">
    <div>
      <img class="footer1logo" src="{{ section.settings.footer1logo | image_url }} "/>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": [
         {
      "type": "image_picker",
      "id": "footer1logo",
      "label": "footer-1 logo"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}