<div class="main">
  <div class="parant">
    <img class="footer1logo" src="{{ section.settings.footer1logo | image_url }} "/>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [
        {
      "type": "image_picker",
      "id": "footer1logo",
      "label": "footer-1 logo"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
  {{ 'footer-1-css.css' | asset_url | stylesheet_tag}}
  <script src="{{ 'footer-1-css.css' | asset_url }}" ></script>
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
