<div class="main">
  <div class="parant">
    <div class="section1">
      <div>
        <img src="{{ section.settings.logo | img_url }}"/>
      </div>
      <div>
          {%- for block in section.blocks -%}
          <a class="linktext" href="">{{ block.settings.catagary_text }}</a>
          {% endfor %}
      </div>
      <div class="potition-1">
        <div>
          <img src="{{ section.settings.logo-2 | img_url }}"/>
        </div>
        <div>
          <p>{{ section.settings.signup }}</p>
        </div>
      </div>  
    </div>
  </div>
  
</div>
<style>
  .potition-1{
    display: flex;
    align-items: center;
  }
  .linktext{
    color:black;
    text-decoration:none;
    padding-left:30px;
  }
  .section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 10px;
  }
</style>
{% schema %}
  {
    "name": "header-1",
    "settings": [
      {
      "type": "image_picker",
      "id": "logo",
      "label": "bannaer-image-1"
    },
    {
      "type": "text",
      "id": "signup",
      "label": "sign-up text"
    },
    {
      "type": "image_picker",
      "id": "logo-2",
      "label": "logo-2"
    }
    ],
        "blocks": [
  {
    "type": "text",
    "name": " COLLECTIONS",
   "settings": [
        {
        
        "type": "text",
        "id": "catagary_text",
        "label": "text"
        }
   ]
  }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}