<div class="main">
  <div class="parant">
    <div class="section-1">
      <div>
        <img src="{{ section.settings.logo }} | ">
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "header section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}