<div class="main">
  <div class="parant">
    
  </div>
  
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": [
      
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}