<div class="main">
  <div class="parant">
    <div class="section-1">
      <div>
        <img src="{{ section.settings.logo | image_url }} "/>
        <div>
          {%- for block in section.blocks -%}
          <a href="">{{ block.settings.catagary_text }}</a>
          {% endfor %}
        </div>
        <div>
          <a><img src="{{ block.settings.icons | image_url}}"/></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "header section",
    "settings": [
      {
      "type": "image_picker",
      "id": "logo",
      "label": "painting-image-1"
    }
    ],
        "blocks": [
  {
    "type": "text",
    "name": " COLLECTIONS",
   "settings": [
        {
        
        "type": "text",
        "id": "catagary_text",
        "label": "text"
        },
       {
      "type": "image_picker",
      "id": "icons",
      "label": "painting-image-1"
    }
   ]
  }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}