<div class="main">
  <div class="parant">
    <div class="section-1">
      <div>
        <img src="{{ section.settings.logo | image_url }} "/>
        <div>
          <a href="">{{ }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "header section",
    "settings": [
      {
      "type": "image_picker",
      "id": "logo",
      "label": "painting-image-1"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}