<div class="main">
  <div class="parant">
    <div clas="section-1">
      <div>
        <img src="{{ section.settings.logo | img_url }}"/>
      </div>
    </div>
  </div>
  
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
      "type": "image_picker",
      "id": "logo",
      "label": "bannaer-image-1"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}