<div class="main">
  <div class="parant">
    <div clas="section1">
      <div>
        <img src="{{ section.settings.logo | img_url }}"/>
      </div>
      <div>
          {%- for block in section.blocks -%}
          <a class="linktext" href="">{{ block.settings.catagary_text }}</a>
          {% endfor %}
      </div>
    </div>
  </div>
  
</div>
<style>
  .linktext{
    color:white;
    text-decoration:none;
  }
  .section1{
    background:black;
  }
</style>
{% schema %}
  {
    "name": "header-1",
    "settings": [
      {
      "type": "image_picker",
      "id": "logo",
      "label": "bannaer-image-1"
    }
    ],
        "blocks": [
  {
    "type": "text",
    "name": " COLLECTIONS",
   "settings": [
        {
        
        "type": "text",
        "id": "catagary_text",
        "label": "text"
        }
   ]
  }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}