<div class="jquery-demo">
  <div class="jquery-paraent">
    <div class="header-text">
        <p>Trending</p>
        <p>Rings</p>
        <p>Earrings</p>
        <p>Pendants</p>
        <p>Necklace</p>
        <p>Bangles & Bracelets</p>
        <p>Mangalsutra</p>
        <p>Chains</p>
        <p>Solitaires</p>
        <p>Other Jewellery</p>
        <p>Gifts</p>
        <p>Offers</p>
    </div>
    <div>
        <p>
        <label for="amount">Price range:</label>
        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        
        <div id="slider-range"></div>
    </div>
    
    </div>
  </div>
   {{ 'jquery-ui.css' | asset_url | stylesheet_tag}}
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}