<div class="main">
  <div class="parent">
    <div>
      <div>
        <img class="footer1logo" src="{{ section.settings.mx-online-logo | image_url }} "/>
      </div>
    </div>
  </div>
  
</div>

{% schema %}
  {
    "name": " header ",
    "settings": [
      
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}