<div class="main">
  <div class="parent">
    <div>
      <div>
        <img class="footer1logo" src="{{ section.settings.mx-online-logo | image_url }} "/>
      </div>
    </div>
  </div>
  
</div>

{% schema %}
  {
    "name": " header ",
    "settings": [
      {
      "type": "image_picker",
      "id": "mx-online-logo",
      "label": "Mx Online logo"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}