<div class="shop-nect-main">
			<div class="shop-nect-parent">
				<div class="shop-nect-header">
						<div class="header-logo-style">
							<img class="header-logo" src="images/Screenshot from 2023-05-19 11-57-37.png">
						</div>

						<div class="shop-nect-header-cat search-icon-potition">
							<input class="search-button" placeholder="search..." type="search" name="">
							<img class="search-icon" src="images/icons8-search-30.png">
						</div>
						<div class="shop-nect-account-myitems shop-nect-header-cat">
							<div>
								<img class="account-logo" src="images/icons8-account-30.png">
								<p class="accounts-text">Account</p>
							</div>
							<div>
								<img class="account-logo" src="images/icons8-black-heart-30.png">
								<p class="accounts-text">My Items</p>
							</div>
							<div>
								<img class="account-logo" src="images/icons8-shopping-cart-30.png">
							</div>
						</div>	
				</div>
				<div class="header-product-detail">
						<div class="all-product-titel" >
								<div class="Products-titel-text">	
									<p>Products  <img class="dwon-arrow" src="images/icons8-double-down-25.png"> </p>
								</div>
								<div class="Products-titel-text">
									<p>Brands <img class="dwon-arrow" src="images/icons8-double-down-25.png"> </p>
								</div>
								<div class="Products-titel-text">
									<p>Deals <img class="dwon-arrow" src="images/icons8-double-down-25.png"> </p>
								</div>
								<div class="Products-titel-text">
									<p>Services</p>
								</div>
						</div>	
				</div>
				<div class="shop-nect-banner-img">
						<div>
							<img style="width:100%;" src="images/Screenshotfrom2023-05-1913-44-19.png">
						</div>
				</div>

				<div class="offer-images">
						<div>
							<img class="running-shows" src="images/Screenshotfrom2023-05-1915-02-06.png">
						</div>
						<div>
							<img class="christmas" src="images/sale.png">
						</div>
				</div>
				<div>
						<p class="trending">Trending Now</p>
				</div>
				<!-- product slider -->
				<div class="product-slider-img-2">
						
				<div class="product-slider-img owl-carousel owl-theme">
						<div class="all-product-slider">
							<img src="images/bottle-1.png">
							<p class="International-text">International Women’s Day is a day extremely close to our hearts;</p>
							<h2 class="in-2">Rs.300</h2>
						</div>
						<div class="all-product-slider">
							<img src="images/bottle-1.png">
							<p class="International-text">International Women’s Day is a day extremely close to our hearts;</p>
							<h2 class="in-2">Rs.300</h2>
						</div>
						<div class="all-product-slider">
							<img src="images/bottle-1.png">
							<p class="International-text">International Women’s Day is a day extremely close to our hearts;</p>
							<h2 class="in-2">Rs.300</h2>
						</div>
						<div class="all-product-slider">
							<img src="images/bottle-1.png">
							<p class="International-text">International Women’s Day is a day extremely close to our hearts;</p>
							<h2 class="in-2">Rs.300</h2>
						</div>
						<div class="all-product-slider">
							<img src="images/bottle-1.png">
							<p class="International-text">International Women’s Day is a day extremely close to our hearts;</p>
							<h2 class="in-2">Rs.300</h2>
						</div>
						<div class="all-product-slider">
							<img src="images/bottle-1.png">
							<p class="International-text">International Women’s Day is a day extremely close to our hearts;</p>
							<h2 class="in-2">Rs.300</h2>
						</div>
						<div class="all-product-slider">
							<img src="images/bottle-1.png">
							<p class="International-text">International Women’s Day is a day extremely close to our hearts;</p>
							<h2 class="in-2">Rs.300</h2>
						</div>
				</div>
				
				</div>
				<!-- product slider end -->
				<div class="electronic-forehead">
						<img style="width:100%;" src="images/Screenshotfrom2023-05-1917-09-33.png">
				</div>
				<div>
						<p class="trending">Populer Categories</p>
				</div>
				<div class="all-catagaries">
						<div class="all-gamezone-option">
							<img src="images/leptop.png">
							<p>Computer</p>
						</div>
						<div class="all-gamezone-option">
							<img src="images/game.png">
							<p>Game Zone</p>
						</div>
						<div class="all-gamezone-option">
							<img src="images/leptop.png">
							<p>Computer</p>
						</div>
						<div class="all-gamezone-option">
							<img src="images/game.png">
							<p>Game Zone</p>
						</div>
						<div class="all-gamezone-option">
							<img src="images/leptop.png">
							<p>Computer</p>
						</div>
						<div class="all-gamezone-option">
							<img src="images/game.png">
							<p>Game Zone</p>
						</div>
						<div class="all-gamezone-option">
							<img src="images/leptop.png">
							<p>Computer</p>
						</div>
						<div class="all-gamezone-option">
							<img src="images/game.png">
							<p>Game Zone</p>
						</div>
						<div class="all-gamezone-option">
							<img src="images/leptop.png">
							<p>Computer</p>
						</div>
						<div class="all-gamezone-option">
							<img src="images/game.png">
							<p>Game Zone</p>
						</div>
						<div class="all-gamezone-option">
							<img src="images/leptop.png">
							<p>Computer</p>
						</div>
						<div class="all-gamezone-option">
							<img src="images/game.png">
							<p>Game Zone</p>
						</div>
						<div class="all-gamezone-option">
							<img src="images/leptop.png">
							<p>Computer</p>
						</div>
						<div class="all-gamezone-option">
							<img src="images/game.png">
							<p>Game Zone</p>
						</div>
						<div class="clearance">
							<p class="clearance-text">Clearance</p>
						</div>
					
				</div>
				<div class="free-shiping">
					<div class="free-shiping-option free-shiping-option-2">
						<div>
							<img src="images/free-shiping-car-img.png">
						</div>
						<div style="margin-left: 20px;">
							<p class="shipping-text">Free Shipping</p>
							<p class="shipping-text-2">On Order of $49 or more</p>
						</div>
						
					</div>
					<div class="free-shiping-option free-shiping-option-2">
						<div>
							<img src="images/Reward.png">
						</div>
						<div style="margin-left: 20px;">
							<p class="shipping-text">Reword Poin program</p>
							<p class="shipping-text-2"> Earn point for every purchase </p>
						</div>
						
					</div>
					<div class="free-shiping-option">
						<div>
							<img src="images/Support.png">
						</div>
						<div style="margin-left: 20px;">
							<p class="shipping-text"> Support</p>
							<p class="shipping-text-2"> Online Support 24/7 </p>
						</div>
						
					</div>
					
				</div>
				<div>
						<p class="trending">Things We Know You'll Love</p>
				</div>
					<div class="electronic-product-slider owl-carousel owl-theme">
						<div class="watch-product">
							<img src="images/Screenshotfrom2023-05-22 15-14-49.png">
							<div>
								<h3> Lorem ipsum is simply dummy text </h3>
								<p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's</p>
								<button class="shop-now-button">Shop Now </button>
								<img class="right-arrow" src="images/right.png"/>
							</div>
						</div>
						<div class="watch-product"> 
							<img src="images/watches.png">
							<div>
								<h3> Lorem ipsum is simply dummy text </h3>
								<p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's</p>
								<button class="shop-now-button">Shop Now</button>
								<img class="right-arrow" src="images/right.png">
							</div>
						</div>
						<div class="watch-product">
							<img src="images/internet.png">
							<div>
								<h3> Lorem ipsum is simply dummy text </h3>
								<p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's</p>
								<button class="shop-now-button">Shop Now</button>
								<img class="right-arrow" src="images/right.png">
							</div>
						</div>
						<div class="watch-product">
							<img src="images/Screenshotfrom2023-05-22 15-14-49.png">
							<div>
								<h3> Lorem ipsum is simply dummy text </h3>
								<p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's</p>
								<button class="shop-now-button">Shop Now</button>
								<img class="right-arrow" src="images/right.png">
							</div>
						</div>
						<div class="watch-product">
							<img src="images/watches.png">
							<div>
								<h3> Lorem ipsum is simply dummy text </h3>
								<p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's</p>
								<button class="shop-now-button">Shop Now</button>
								<img class="right-arrow" src="images/right.png">
							</div>
						</div>
						<div class="watch-product">
							<img src="images/internet.png">
							<div>
								<h3> Lorem ipsum is simply dummy text </h3>
								<p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's</p>
								<button class="shop-now-button">Shop Now</button>
								<img class="right-arrow" src="images/right.png">
							</div>
						</div>
					</div>
					<div class="section-2">
						<div class="child-baby-care">
							<div>
								<p class="child-text">Child & Baby Care</p>
							</div>
							<div class="product-and-name">
								<div class="bath-time-main">
								<div>
									<p class="bath-time">Bath Time</p>
									<p class="creams-text">Creams & Ointments</p>
									<p class="creams-text">Lotion powder & Oils</p>
									<p class="creams-text">Diper</p>
									<p class="creams-text">Teething And Oral Care</p>
									<p class="creams-text">Humidifier & Vaporezer</p>
								</div>
							</div>
								<div class="">
									<div class="powder-product">
										<div class="powder-product-img-text">
											<img src="images/rwe.png">
											<p class="In-1">International Women’s Day is a day extremely close to our hearts;</p>
											<h2 class="in-1">Rs.300</h2>
										</div>
										<div class="powder-product-img-text">
											<img src="images/green.png">
											<p class="in-1">International Women’s Day is a day extremely close to our hearts;</p>
											<h2 class="in-1">Rs.300</h2>
										</div>
										<div class="powder-product-img-text">
											<img src="images/black.png">
											<p class="in-1">International Women’s Day is a day extremely close to our hearts;</p>
											<h2 class="in-1">Rs.300</h2>
										</div>
										<div class="powder-product-img-text">
											<img src="images/black.png">
											<p class="in-1">International Women’s Day is a day extremely close to our hearts;</p>
											<h2 class="in-1">Rs.300</h2>
										</div>
									</div>
								</div>

							</div>
							
						</div>
						<div class="child-baby-care">
							<div>
								<p class="child-text">Personal Care</p>
							</div>
							<div class="product-and-name">
								<div class="bath-time-main">
								<div>
									<p class="bath-time">Bath Time</p>
									<p class="creams-text">Creams & Ointments</p>
									<p class="creams-text">Lotion powder & Oils</p>
									<p class="creams-text">Diper</p>
									<p class="creams-text">Teething And Oral Care</p>
									<p class="creams-text">Humidifier & Vaporezer</p>
								</div>
							</div>
								<div class="">
									<div class="powder-product">
										<div class="powder-product-img-text">
											<img src="images/tube.png">
											<p class="In-1">International Women’s Day is a day extremely close to our hearts;</p>
											<h2 class="in-1">Rs.300</h2>
										</div>
										<div class="powder-product-img-text">
											<img src="images/box.png">
											<p class="in-1">International Women’s Day is a day extremely close to our hearts;</p>
											<h2 class="in-1">Rs.300</h2>
										</div>
										<div class="powder-product-img-text">
											<img src="images/white&blue.png">
											<p class="in-1">International Women’s Day is a day extremely close to our hearts;</p>
											<h2 class="in-1">Rs.300</h2>
										</div>
										<div class="powder-product-img-text">
											<img src="images/romozol.png">
											<p class="in-1">International Women’s Day is a day extremely close to our hearts;</p>
											<h2 class="in-1">Rs.300</h2>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="brand-img">
							<div class="brand-img-style">
								<img src="images/canon.png">
							</div>
							<div class="brand-img-style">
								<img src="images/fitbit.png">
							</div>
							<div class="brand-img-style">
								<img src="images/asus.png">
							</div>
							<div class="brand-img-style">
								<img src="images/dyson.png">
							</div>
							<div class="brand-img-style">
								<img src="images/google.png">
							</div>	
						</div>
					</div>
					<div class="footer">
							<div class="footer-option">
								<div>
									<p class="sigh-up-text">Sign up to newsletter</p>
								</div>
								<div class="enter-your-input-box">
									<input class="enter-your-email" placeholder="Enter Your Email Address" type="email" name="">
									<button class="sign-up">Sign up</button>
									<div class="footer-sosical-media-img">
									<img src="images/icons8-instagram-30.png">
									<img src="images/icons8-in-30.png">
									<img src="images/icons8-facebook-30.png">
									<img src="images/icons8-twitter-30.png">
									</div>
								</div>
								
							</div>
					</div>
					<div class="footer-company-information">
						<div class="company-information-text">
							<div class="">
								<h3>Company-information</h3>
								<div class="sub-menu">
									<p class="about-us-text">About us</p>
									<p class="about-us-text">Our Suppliers</p>
									<p class="about-us-text">Careers</p>
									<p class="about-us-text">Corporate Information</p>
								</div>	
									
							</div>
							<div class="">
								<h3>Account </h3>
								<div class="sub-menu">
								<p class="about-us-text">Order Status</p>
								<p class="about-us-text">Manage Account</p>
								<p class="about-us-text">Email Preferences</p>
								</div>
							</div>
							<div class="">
								<h3>Support </h3>
								<div class="sub-menu">
								<p class="about-us-text">Contact us</p>
								<p class="about-us-text">Log in </p>
								<p class="about-us-text">sign up</p>
								<p class="about-us-text">Faq</p>
								</div>
							</div>
							<div class="">
								<h3>Our Team </h3>
								<div class="sub-menu"> 
								<p class="about-us-text">Privacy Policy</p>
								<p class="about-us-text">Terms & Condition</p>
								<p class="about-us-text">Information</p>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
  {{ 'shopnect.css' | asset_url |stylesheet_tag }}
{% schema %}
  {
    "name": "Section name",
    "settings": [
      
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}