.header-1main{
background-color: #5e7487;
padding:15px 0 7% 0;
  margin-top:10px;
}
.footer1logo{
  width: 150px;
}
.footer-option{
  display:inline-block;
  vertical-align:text-top;
}
.footer-friest-child{
  margin-right:25px;
}
a{
  text-decoration:none;
}
.footer-parant{
  display:flex;
  align-items:start;
  justify-content:space-around;
}
ul{
  padding:0;
  margin-top:10px;
}
.mainchilde{
  color:white;
  font-size:19px;
}
.mainchilde-sub-class{
  color:#ffffffb8;
  font-size:14px;
}
.socialmedia-logos{
  float:right;
}
.copy-text{
    font-size: 14px;
    color: #ffffffb8;
}
@media only screen and (max-width: 500px){
/* For mobile phone: */
    .footer-parant{
      display:block;
    }
    .footer-option{
      display:block;
    }
  .footer-friest-child{
    margin-bottom:20px;
    margin-left:14px;
  }
  .footer-grandchilde{
    display:none;
  }
  .active .footer-grandchilde{
    display:block;
  }
  .mainchilde-sub-class{
    font-size:17px;
  }
  }